# Ignoruje celý adresár experimenty
GenStromy/*
# Musíme znova povoliť adresár, inak výnimky nebudú fungovať
!experimenty/
!GenStromy/
# Povolenie konkrétnych súborov
!experimenty/snm.c
!experimenty/steinerovStrom.tex
!experimenty/steinerovStrom3D.tex
!GenStromy/prufer.c
!GenStromy/vykresliStromy.tex
!GenStromy/genTopology.c

